@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.App{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.header{
  background-color: #002e5a;
  text-align: center;
  padding: 1.2%;
  color: #fff7ef;
  width: 100%;  
}
.form{

  margin-top: 5%;
}
h1{
  margin: 0%;
}
.data{
  margin-top: 2.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.%;
}
.dataField{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}
.dataField:first-child{
  margin-bottom: 1%;
}